.wh-header-size{
  height: 100px;
}

.wh-background {
  background-image: url('../../assets/images/images.jpg');
  color: white;
}
.wh-spacing {
  margin: 5px;
  padding: 5px;
}

.wh-icon {
  color: floralwhite;
}
