.wh-header-size{
  height: 100px;
}

.wh-background {
  background-image: url('../../assets/images/images.jpg');
  color: white;
}
.wh-spacing {
  margin: 5px;
  padding: 5px;
}

.wh-icon {
  color: floralwhite;
}

h1 {
  font-size: 40px;
}

.fa-home {
  font-size: 32px;
}

.fa-power-off {
  font-size: 32px;
}