<div class="wh-container">
  <div class="row">
    <div class="col-4">
      &nbsp;
    </div>
    <div class="col-6">
      <div >
        <input class="form-control my-0 py-1"
               [(ngModel)]="searchText"
               type="text"
               placeholder="Search"
               aria-label="Search">
        <div *ngIf="searchText !== ''">
          <div *ngFor = "let name of names |filter:searchText" >
            <p>
              <a routerLink="/product/{{name}}"> {{name}} </a>
            </p>
          </div>
        </div>
        <span class="input-group-text">
        <i class="fa fa-search text-grey"
           aria-hidden="true">
        </i>
        </span>
      </div>
    </div>
    <div class="col-2">
      <a *ngIf="userId" routerLink="/profile/{{userId}}">
        <i class="fa fa-2x fa-user-circle wh-icon"></i>
      </a>
      &nbsp;
      <a *ngIf="userId"
         routerLink="/cart">
        <i class="fa fa-2x fa-shopping-cart wh-icon"></i>
      </a>
    </div>
  </div>

</div>
