<app-header></app-header>
<div class="container-fluid">
  <div class="row">
  <h3 class="col-6">{{product.name}}</h3>
  </div>
  <div class="row">
    <img class="col-4"
         src="{{product.image}}">
    <table class="col-3" title="Sellers">
      <tr *ngFor="let listing of listings" class="list-group-item">
        <td>
          <a routerLink='/profile/{{listing.owner._id}}'>
            {{listing.owner.firstName}} {{listing.owner.lastName}}
          </a>
        </td>
        <td>${{listing.item.price}}</td>
        <td>{{listing.item.count}} in stock</td>
      </tr>
    </table>
    <table class="table table-striped  col-5">
      <tr>
        <td>ocpc</td>
        <td>{{product.ocpc}}</td>
      </tr>
      <tr>
        <td>brandname</td>
        <td>{{product.brandname}}</td>
      </tr>
      <tr>
        <td>brandocpc</td>
        <td>{{product.brandocpc}}</td>
      </tr>
      <tr>
        <td>type</td>
        <td>{{product.type}}</td>
      </tr>
      <tr>
        <td>strainname</td>
        <td>{{product.strainname}}</td>
      </tr>
      <tr>
        <td>strainucpc</td>
        <td>{{product.strainucpc}}</td>
      </tr>
      <tr>
        <td>description</td>
        <td>{{product.description}}</td>
      </tr>
      <tr>
        <td>url</td>
        <td>{{product.url}}</td>
      </tr>
      <tr>
        <td>url</td>
        <td>{{product.url}}</td>
      </tr>
      <tr>
        <td>labTest</td>
        <td>{{product.labTest}}</td>
      </tr>
      <tr>
        <td>thc</td>
        <td>{{product.thc}}</td>
      </tr>
      <tr>
        <td>cbd</td>
        <td>{{product.cbd}}</td>
      </tr>
      <tr>
        <td>cannabis</td>
        <td>{{product.cannabis}}</td>
      </tr>
      <tr>
        <td>hashOil</td>
        <td>{{product.hashOil}}</td>
      </tr>
    </table>
  </div>
</div>
