<app-header [username]="username"></app-header>

<div class="container-fluid">
  <h3>Order List</h3>
  <h5> Buyer : {{username}} </h5>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr id ="wbdv-table-heading">
      <th>Requester</th>
      <th>Receiver</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
    <tr >
      <td><input [(ngModel)]="Requester" class="form-control" value=""
                 placeholder="Retailer Name" /></td>
      <td><input [(ngModel)]="Receiver"  class="form-control"
                 placeholder="Buyer Name" /></td>
      <td><input [(ngModel)]="Price"  class="form-control"
                 placeholder="Order Value" disabled/></td>
      <td> <input [(ngModel)]="OrderStatus"  class="form-control"
                 placeholder="Order status" /> </td>
      <td><span class="float-right" style="white-space: nowrap">
							 <i class="fa-2x fa fa-plus "  (click)="createOrder()"></i>
              <i class="fa-2x fa fa-check wbdv-update" (click)="updateOrder()"></i>
					</span></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders"  >

      <td > {{order?.requester['firstName']}}</td>
      <td > {{order?.receiver.firstName}} </td>
      <td > {{order?.items[0].pricePerUnit}} </td>
      <td > {{order?.status}} </td>
      <td ><span class="float-right"> <i
        class="fa-2x fa fa-minus-circle " (click)="deleteOrder(order?._id)" ></i>
        <i
          class="fa-2x fa fa-edit"  (click)="editSection(order)"></i>
					</span></td>
    </tr>

    </tbody>
    <tfoot></tfoot>
  </table>
</div>

