<app-header [username]="username"></app-header>
<div class="container-fluid">
  <div class="row">
      <a routerLink="/profile/{{user._id}}" class="fa fa-2x fa-arrow-left col-1"></a>
      <h3 class="col-10 text-center">Manage Products</h3>
      <a routerLink="/add-products" class="fa fa-2x fa-plus-circle col-1"></a>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price (USD)</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let item of listedProducts">
        <td>
          {{item.product.name}}
        </td>
        <td>
          {{item.count}}
        </td>
        <td>
          {{item.price}}
        </td>
        <td>
          <i class="fa fa-pencil" routerLink="/edit/{{item._id}}"></i>
          &nbsp;
          <a class="fa fa-times" (click)="deleteProduct(item._id)"></a>
        </td>
    </tr>
  </table>
</div>
