.wbdv-img-size{
  width: 150px;
  height: 150px;
}

.wbdv-card-size{
  width: 250px;
  height: 250px;
  margin: 2px;
}

.wh-table {
  width: 60%;
  margin: 0px auto;
}

.fa-plus-circle {
  color: red;
}
