<app-header [username]="username"></app-header>
<div class="container-fluid wh-table">
  <div class="row">
    <span class="col-11">
      <h3>Manage Products</h3>
    </span>
    <span>
      <a routerLink="/add-products" class="fa fa-2x fa-plus-circle col-1"></a>
    </span>
  </div>
  <ul class="list-group">
    <li *ngFor="let item of listedProducts" class="list-group-item">
      {{item.product.name}}
      <span class="float-right">
          <i class="fa fa-pencil" routerLink="/edit/{{item._id}}"></i>
        &nbsp;
          <a class="fa fa-times" (click)="deleteProduct(item._id)"></a>
        </span>
    </li>
  </ul>
</div>
